{{ define "main" }}
{{ $dateFormat := .Site.Params.dateFormat }}
{{ $sidebar := .Site.Params.sidebar }}

<div class="container">
	<div class="row">
    
    {{ if $sidebar.enable }}

    {{ if eq $sidebar.position "left" }}
    <div class="col-md-3 bernd-padding-right">

        {{ partial "sidebar" . }}

    </div>  
    {{ end }} 

    <div class="col-md-9">
    {{ else }} 
        <div class="col-md-12">
    {{ end }} 

		<article class="post-item">
            {{ if eq .Params.format "image" }}
              <div class="image-box">
                  <img src="{{ .Params.image | absURL }}" alt="{{ .Title }}" />
              </div>
            {{ end }}
			{{ if eq .Params.format "quote" }}
            <div class="image-box type-quote" style="background-image: url('{{ .Params.image | absURL }}');">
              <blockquote>
                <p>{{ .Params.quote }}</p>
                <cite>{{ .Params.quoteAuthor }}</cite>  
              </blockquote>
            </div>
            {{ end }}
			{{ if eq .Params.format "link" }}
            <div class="image-box type-link" style="background-image: url('{{ .Params.image | absURL }}');">
                <a href="{{ .Params.link }}" target="_blank">{{ .Params.link }}</a>  
            </div>
            {{ end }}
			{{ if eq .Params.format "slider" }}
            <div class="flexslider">
              <ul class="slides">
                  {{ range .Params.sliderImages }}
                   <li>
                      <div style="background-image:url('{{ .image | absURL }}')"></div>
                      {{ if .caption }}
                      <p class="flex-caption">{{ .caption }}</p>
                      {{ end }}
                   </li>
                   {{ end }}
             </ul>
           </div>
           {{ end }}
		   {{ if eq .Params.format "gallery" }}
           <div class="gallery-box">
            <ul class="gallery-projects">
                 {{ range .Params.galleryImages }}
                    <li>
                      <a href="{{ .image | absURL }}" data-fancybox="images">
                          <img src="{{ .image | absURL }}" alt="image">
                      </a>
                    </li> 
                  {{ end }}
            </ul>
          </div>
          {{ end }}
          {{ if eq .Params.format "video" }}
          <div class="video-box {{ if eq .Params.typeVideo "vimeo" }} vimeo-video{{ end }}">
            {{ if eq .Params.typeVideo "html5" }}
              <video class="video-shortcode" preload="auto" controls>
                <source src="{{ .Params.video | absURL }}" type="video/mp4">
                There should have been a video here but your browser does not seem
                to support it.
              </video>
            {{ end }}
            {{ if eq .Params.typeVideo "vimeo" }}
            <iframe src="https://player.vimeo.com/video/{{ .Params.linkVideo }}?autoplay=0&color=ff0179&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            {{ end }}
            {{ if eq .Params.typeVideo "youtube" }}
            <iframe width="640" height="360" src="https://www.youtube.com/embed/{{ .Params.linkVideo }}?feature=oembed" frameborder="0" allowfullscreen=""></iframe>
            {{ end }}
          </div>
          {{ end }}
		  {{ if eq .Params.format "audio" }}
          <div class="image-box type-audio" style="background-image: url('{{ .Params.image | absURL }}');">
            <h4>{{ .Params.captionAudio }}</h4>
            <audio controls>
              <source type="audio/mpeg" src="{{ .Params.audio | absURL }}">
              Your browser does not support the audio element.
            </audio>
          </div>
          {{ end }}
            <h2 class="title">{{ .Title }}</h2>
            <div class="post-details">
              {{ if .Params.author }}<div class="author"><div class="avatar-author" style="background-image: url('{{ .Params.authorAvatar | absURL }}');"></div>{{ .Params.author }}</div>{{ end }}
              <div class="date"><span> {{ .PublishDate.Format $dateFormat }}</span></div> 
              {{ if .Params.categories }}<div class="category"> {{ with (.GetTerms "categories") }}{{ range $i, $t := . }}{{ if $i }},&nbsp;{{ end }}<a href="{{ $t.Permalink }}">{{ $t.LinkTitle }}</a>{{ end }}{{ end }}</div>{{ end }}
              </div>
            <div class="text">
                {{ .Content }}
            </div>
			{{ if .Params.tags }}
			<div class="tags-links">
				<span>{{ i18n "tags" }}:</span>
				{{ with (.GetTerms "tags") }}{{ range $i, $t := . }}{{ if $i }},&nbsp;{{ end }}<a href="{{ $t.Permalink }}">{{ $t.LinkTitle }}</a>{{ end }}{{ end }}
			</div>
			{{ end }}
			<div class="share">
            	<span>{{ i18n "share" }}:</span>
				<ul class="share-icons">
					<li><a href="javascript:;" data-sharer="twitter" data-title="{{ .Title }}" data-url="{{ .Permalink }}"><i class="fa-brands fa-x-twitter"></i></a></li>
					<li><a href="javascript:;" data-sharer="facebook" data-url="{{ .Permalink }}"><i class="fa-brands fa-facebook"></i></a></li>
					<li><a href="javascript:;" data-sharer="pinterest" data-url="{{ .Permalink }}"><i class="fa-brands fa-pinterest"></i></a></li>
					<li><a href="javascript:;" data-sharer="linkedin" data-url="{{ .Permalink }}"><i class="fa-brands fa-linkedin"></i></a></li>
					<li><a href="javascript:;" data-sharer="reddit" data-url="{{ .Permalink }}"><i class="fa-brands fa-reddit"></i></a></li>
				</ul>
			</div>
        </article>

        {{ if or .NextInSection .PrevInSection }}

        {{ "<!-- Navigation -->" | safeHTML }}
        <div class="post-navigation">
          {{ if .PrevInSection }}
          {{ $imagePost := .PrevInSection.Params.image }}
          <div class="next-post">
            <a href="{{ .PrevInSection.Permalink }}">
              <div class="nav-img-box">
                <div class="nav-img" style="background-image:url({{ $imagePost | absURL }});"></div>
                <span>{{ i18n "nextPost" }}<i class="fa-solid fa-arrow-right-long"></i></span>
              </div>
            </a>
          </div>
          {{ end }}
          {{ if .NextInSection }}
          {{ $imagePost := .NextInSection.Params.image }}
          <div class="prev-post">
            <a href="{{ .NextInSection.Permalink }}">
              <div class="nav-img-box">
                <div class="nav-img" style="background-image:url({{ $imagePost | absURL }});"></div>
                <span><i class="fa-solid fa-arrow-left-long"></i>{{ i18n "prevPost" }}</span>
              </div>
            </a>
          </div>
          {{ end }}
        </div>
        
        {{ end }}

		  	{{ if .Site.Params.disqusComments }}

			    {{ "<!-- Comments -->" | safeHTML }}
				<div class="comments-post">

						<h5 class="title">{{ i18n "comments" }}</h5>

						<div id="disqus_thread"></div>
						<script>
							var disqus_config = function () {
								this.page.url = "{{ .Permalink | absURL }}";  /* Replace PAGE_URL with your page's canonical URL variable */
								this.page.identifier = "{{ .File.UniqueID }}"; /* Replace PAGE_IDENTIFIER with your page's unique identifier variable */
							};
							(function() { /* DON'T EDIT BELOW THIS LINE */
								var d = document, s = d.createElement('script');
								s.src = 'https://{{ .Site.Params.disqusComments }}.disqus.com/embed.js';
								s.setAttribute('data-timestamp', +new Date());
								(d.head || d.body).appendChild(s);
							})();
						</script>
						<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

				
				</div>

			{{ end }}
      
		</div>

    {{ if $sidebar.enable }}
    {{ if eq $sidebar.position "right" }}
    <div class="col-md-3 bernd-padding-left">

        {{ partial "sidebar" . }}

    </div>  
    {{ end }} 
   {{ end }} 

	</div>
</div>

{{ end }}