{{ with .Site.Data.about.aboutMe }}
{{ if .enable }}

{{ "<!-- About Me Section -->" | safeHTML }}
<section class="about-me-section">

    <div class="container">
        <div class="row">
			<div class="col-md-2">
			</div>
            <div class="col-md-8">
					<h2>{{ .title | safeHTML }}</h2>
					
					<img class="profile-photo"src="{{ .profileImage | absURL }}">
					
                   
					
					 <h4>{{ .name | safeHTML }}<br><br>   
					 {{ .text1 | safeHTML }}<br><br>  
					 {{ .text2 | safeHTML }}</h4>
					 
               

          </div>
        </div>
    </div>
</section>

{{ end }}
{{ end }}