{{ $reCAPTCHAKey := .Site.Params.reCAPTCHAKey }}
{{ $formspreeFormID := .Site.Params.formspreeFormID }}
{{ $contactInformation := .Params.contactInformation }}

{{ with .Site.Data.contact.contact }}
{{ if .enable }}

{{ "<!-- Contact Section -->" | safeHTML }}
<section class="contact-section">
  <div class="container">
    <div class="row">


      <div class="col-md-12">

         <h2>{{ .title }}</h2>
         <h3>{{ .description | safeHTML }}</h3>

         {{ if eq $contactInformation "show" }}

         <div class="contact-information">
          
         <div class="row gy-5">

         {{ range .contactInformation }}
          <div class="col-md-4">
              <div class="contact-information-box">
                  <div class="icon">
                      <i aria-hidden="true" class="{{ .icon }}"></i>
                  </div>
                  <h4>{{ .title }}</h4>
              </div>
          </div>
         {{ end }}

          </div>

         </div>

         {{ end }}

         <template id="contact-success">
          <div class="success-box">
            <i class="fa fa-check"></i> {{default "Thank you for contacting us. You will hear from us soon." ($.Param "contact-success")}}
        </div>
        </template>
        <template id="contact-error">
          <div class="error-box">
            <i class="fa fa-check"></i> {{default "We are facing an issue submitting the contact form. Please try again later." ($.Param "contact-error")}}
          </div>
        </template>
        <form id="contact-form" data-dynamic-form data-success="#contact-success" data-error="#contact-error" action="https://formspree.io/f/{{ $formspreeFormID }}" method="post">
            <p><input type="text" name="name" id="name" placeholder="{{ i18n "yourName" }}" /></p>
            <p><input type="email" name="email" id="email" placeholder="{{ i18n "yourEmail" }}" /></p>
            <p><input type="text" name="phone" id="phone" placeholder="{{ i18n "yourPhone" }}" /></p>
            <p><input type="text" name="subject" id="subject" placeholder="{{ i18n "yourSubject" }}" /></p>
            <p><textarea name="msg" id="msg" placeholder="{{ i18n "yourMessage" }}"></textarea></p>
            <div class="g-recaptcha" data-sitekey="{{ $reCAPTCHAKey }}"></div> <!-- replace with your recaptcha SITE key not secret key -->
            <input type="submit" name="submit" id="submit" value="{{ i18n "sendMessage" }}" />
        </form>

      </div>


    </div>
  </div>
</section>

{{ end }}
{{ end }}