{{ with .Site.Data.about.download }}
{{ if .enable }}


{{ "<!-- Skillbar Section -->" | safeHTML }}
<section class="language-section">

    <div class="container">
        <div class="row">
			<div class="col-md-2">
			</div>
            <div class="col-md-8">
                <h2>{{ .title | safeHTML }}</h2>
				
				<h4><a href="{{ "pdf/CV_WOOJAEKANG.pdf" | relURL }}" download>{{ .cv | safeHTML }}</a><br><br>
				<a href="{{ "pdf/Portfolio_WOOJAEKANG.pdf" | relURL }}" download>{{ .portfolio | safeHTML }}</a></h4>              
	    
          </div>
        </div>
    </div>
</section>

{{ end }}
{{ end }}
