{{ $footer := .Site.Params.footer }}
{{ $social := .Site.Params.social }}
{{ with $footer }}

<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			
				<div class="footer-content">

					<div class="social-icons">

						<ul>
							{{ range $social }}
							<li>
								<a href="{{ .url }}" target="_blank" title="{{ .title }}">
									<i aria-hidden="true" class="{{ .icon }}" style="font-size: 50px;"></i>
								</a>
							</li>	
							{{ end }}
						</ul>

					</div>

					<div class="copyright">{{ .copyright | safeHTML }}</div>

				</div>

			</div>
		</div>
	</div>	
</footer>

{{ end }}
