{{ $heightMap := .Params.heightMap }}
{{ $zoomMap := .Params.zoomMap }}
{{ $iconLocationMap := .Params.iconLocationMap }}
{{ $informationBoxMap := .Params.informationBoxMap }}


{{ with .Site.Data.contact.map }}
{{ if .enable }}

{{ "<!-- Section Google Map -->" | safeHTML }}
<section class="map-section">
    <div class="container">
        <div class="row">
          <div class="col-md-12">

            <h2>{{ .title }}</h2>
            <h3>{{ .description | safeHTML }}</h3>

            <div id="google-container" data-zoom="{{ $zoomMap }}" data-location="{{ $iconLocationMap }}" data-information="{{ $informationBoxMap }}" data-saturation="{{ .saturationMap }}" data-brightness="{{ .brightnessMap }}"></div>
            {{ if eq $zoomMap "show" }}
            <div id="zoom-in"></div>
            <div id="zoom-out"></div>
            {{ end }}
                    <script>
                        
                        var colorMap = {{ .colorMap }};
                        var iconLocation = "{{ .iconLocationImage | absURL }}"
                        var titleIconLocation = "{{ .titleIconLocation }}"
                        var latitudeG = {{ .latitude }};
                        var longitudeG = {{ .longitude }};
                        var mapZoomG = {{ .mapZoom }};
                        {{ if eq $informationBoxMap "show" }}
                        var contentString = '<div class="contact-info-box">'+'<h3>{{ .informationBoxTitle }}</h3>'+'<ul>{{ range .informationBox }}'+'<li><i aria-hidden="true" class="{{ .icon }}"></i>{{ .title }}</li>'+'{{ end }}</div>';
                        {{ end }}
                    </script>

      </div>
     </div>
    </div>
</section>

{{ end }}
{{ end }}
