{{ with .Site.Data.about.project }}
{{ if .enable }}

{{ "<!-- Skillbar Section -->" | safeHTML }}
<section class="skillbar-section">

    <div class="container">
        <div class="row">
			<div class="col-md-2">
			</div>
            <div class="col-md-8">
                <h2>{{ .title | safeHTML }}</h2>
                {{ range .items }}
                            <h3>{{ .title | safeHTML }}</h3><p>{{ .date | safeHTML }}<br>{{ .des | safeHTML }}</p>
             
               {{ end }}
          </div>
        </div>
    </div>
</section>

{{ end }}
{{ end }}