{{ with .Site.Data.about.reference }}
{{ if .enable }}


{{ "<!-- Skillbar Section -->" | safeHTML }}
<section class="skillbar-section">

    <div class="container">
        <div class="row">
			<div class="col-md-2">
			</div>
            <div class="col-md-8">
                <h2>{{ .title | safeHTML }}</h2>
				
				
				<h4>{{ .name1 | safeHTML }}</h4>
				<p>{{ .position1 | safeHTML }}<br><br><a href="{{ "pdf/Recommendation Letter_WOOJAEKANG.pdf" | relURL }}" download>{{"Recommendation letter"}}</a></p>
				
				
				
          </div>
        </div>
    </div>
</section>

{{ end }}
{{ end }}
