<script src="{{ "plugins/validate/jquery.validate.min.js" | absURL }}"></script>
<script src="{{ "plugins/slicknav/jquery.slicknav.min.js" | absURL }}"></script>
<script src="{{ "plugins/jQueryAppear/jquery.appear.js" | absURL }}"></script>
<script src="{{ "plugins/flexslider/flexslider.min.js" | absURL }}"></script>
<script src="{{ "plugins/gsap/tween-max.min.js" | absURL }}"></script>
<script src="{{ "plugins/skillsBar/skills-bar.js" | absURL }}"></script>
<script src="{{ "plugins/jarallax/jarallax.min.js" | absURL }}"></script>
<script src="{{ "plugins/sharer/sharer.min.js" | absURL }}"></script>
<script src="{{ "plugins/ajaxchimp/jquery.ajaxchimp.min.js" | absURL }}"></script>
<script src="{{ "plugins/fancybox/fancybox.min.js" | absURL }}"></script>
<script src="{{ "plugins/isotope/jquery.isotope.min.js" | absURL }}"></script>
<script src="{{ "plugins/modernizr/modernizr.custom.min.js" | absURL }}"></script>
<script src="{{ "plugins/imagesLoaded/jquery.imagesLoaded.min.js" | absURL }}"></script>
<script src="{{ "plugins/transit/jquery.transit.min.js" | absURL }}"></script>
<script src="{{ "plugins/jQueryEasing/jquery.easing.min.js" | absURL }}"></script>
<script src="{{ "plugins/jQueryVisible/jquery.visible.min.js" | absURL }}"></script>
<script src="{{ "plugins/mediaBoxes/jquery.mediaBoxes.min.js" | absURL }}"></script>

{{ if .Site.Params.sidebar.search }}
<script src="{{ "plugins/fuse/fuse.min.js" | absURL }}"></script>
<script src="{{ "plugins/search/search.min.js" | absURL }}"></script>
{{ end }}

{{ with .Site.Data.home.main_slider }}
{{ if .enable }}
<script src="{{ "plugins/sliderRevolution/rbtools.min.js" | absURL }}"></script>
<script src="{{ "plugins/sliderRevolution/rs6.min.js" | absURL }}"></script>
<script src="{{ "plugins/sliderRevolution/slider.min.js" | absURL }}"></script>
{{ end }}
{{ end }}


{{ with .Site.Params.googleMapsApiKey }}
<script src="https://maps.googleapis.com/maps/api/js?key={{.}}&callback=Function.prototype"></script>
{{ end }}

{{ $script := resources.Get "js/app.js" | minify }}
<script type="text/javascript" src="{{ $script.Permalink }}"></script>
