{{ $duration := .Params.duration }}
{{ $arrows := .Params.arrows }}

{{ with .Site.Data.home.main_slider }}
{{ if .enable }}

{{ "<!-- Slider Section -->" | safeHTML }}
<section class="slider-section">

<rs-module-wrap id="rev_slider_1_1_wrapper" data-duration="{{$duration}}" data-arrows="{{$arrows}}" data-alias="bernd" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
    <rs-module id="rev_slider_1_1" data-version="6.6.10">
        <rs-slides style="overflow: hidden; position: absolute;">

            {{ range $index, $val := .slides }}

            <rs-slide style="position: absolute;" data-key="rs-{{ $index }}" data-title="Slide" data-thumb="{{ .image | absURL }}" data-anim="ms:600;" data-in="o:0;" data-out="a:false;">
                
                <img src="/images/dummy.png" alt="{{ .title }}" class="rev-slidebg tp-rs-img rs-lazyload" data-lazyload="{{ .image | absURL }}" data-parallax="off" data-panzoom="d:10000;ss:100;se:150;" data-no-retina>

                <rs-layer
                    id="slider-1-slide-1-layer-1" 
                    data-type="text"
                    data-color="#000000"
                    data-rsp_ch="on"
                    data-xy="x:c;y:m;"
                    data-text="s:43;l:22;ls:9px;a:inherit;"
                    data-frame_0="tp:600;"
                    data-frame_1="tp:600;st:0;"
                    data-frame_999="o:0;tp:600;st:w;sR:2700;"
                    style="z-index:5;font-family:'Poppins';"
                >{{ .title }}
                </rs-layer>
						</rs-slide>

            {{ end }}

        </rs-slides>
    </rs-module>
</section>

{{ end }}
{{ end }}
