{{ define "main" }}
{{ $dateFormat := .Site.Params.dateFormat }}

{{ "<!-- heading -->" | safeHTML }}
<div class="container">
  <div class="row">
    <div class="col-md-12">

        <div class="heading-box">
          <h4>{{ i18n "taxonomyPageList" . }}</h4>
          <h1>{{ .Title }}</h1>
        </div>

    </div>      
  </div>
</div>

{{ "<!-- blog container -->" | safeHTML }}
<div class="container">
  <div class="row">
    <div class="col-md-9">

          {{ range .Paginator.Pages }}
          <article class="post-item gap">
            {{ if eq .Params.format "image" }}
              <div class="image-box">
                <a href="{{ .Permalink }}">
                  <img src="{{ .Params.image | absURL }}" alt="{{ .Title }}" />
                </a>
              </div>
            {{ end }}
            {{ if eq .Params.format "quote" }}
            <div class="image-box type-quote" style="background-image: url('{{ .Params.image | absURL }}');">
              <blockquote>
                <p>{{ .Params.quote }}</p>
                <cite>{{ .Params.quoteAuthor }}</cite>  
              </blockquote>
            </div>
            {{ end }}
            {{ if eq .Params.format "link" }}
            <div class="image-box type-link" style="background-image: url('{{ .Params.image | absURL }}');">
                <a href="{{ .Params.link }}" target="_blank">{{ .Params.link }}</a>  
            </div>
            {{ end }}
            {{ if eq .Params.format "slider" }}
            <div class="flexslider">
              <ul class="slides">
                  {{ range .Params.sliderImages }}
                   <li>
                      <div style="background-image:url('{{ .image | absURL }}')"></div>
                      {{ if .caption }}
                      <p class="flex-caption">{{ .caption }}</p>
                      {{ end }}
                   </li>
                   {{ end }}
             </ul>
           </div>
           {{ end }}
           {{ if eq .Params.format "gallery" }}
           <div class="gallery-box">
            <ul class="gallery-projects">
                 {{ range .Params.galleryImages }}
                    <li>
                      <a href="{{ .image | absURL }}" data-fancybox="images">
                          <img src="{{ .image | absURL }}" alt="image">
                      </a>
                    </li> 
                  {{ end }}
            </ul>
          </div>
          {{ end }}
          {{ if eq .Params.format "video" }}
          <div class="video-box {{ if eq .Params.typeVideo "vimeo" }} vimeo-video{{ end }}">
            {{ if eq .Params.typeVideo "html5" }}
              <video class="video-shortcode" preload="auto" controls>
                <source src="{{ .Params.video | absURL }}" type="video/mp4">
                There should have been a video here but your browser does not seem
                to support it.
              </video>
            {{ end }}
            {{ if eq .Params.typeVideo "vimeo" }}
            <iframe src="https://player.vimeo.com/video/{{ .Params.linkVideo }}?autoplay=0&color=ff0179&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            {{ end }}
            {{ if eq .Params.typeVideo "youtube" }}
            <iframe width="640" height="360" src="https://www.youtube.com/embed/{{ .Params.linkVideo }}?feature=oembed" frameborder="0" allowfullscreen=""></iframe>
            {{ end }}
          </div>
          {{ end }}
          {{ if eq .Params.format "audio" }}
          <div class="image-box type-audio" style="background-image: url('{{ .Params.image | absURL }}');">
            <h4>{{ .Params.captionAudio }}</h4>
            <audio controls>
              <source type="audio/mpeg" src="{{ .Params.audio | absURL }}">
              Your browser does not support the audio element.
            </audio>
          </div>
          {{ end }}
            <h2 class="title">
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>
            <div class="post-details">
              {{ if .Params.author }}<div class="author"><div class="avatar-author" style="background-image: url('{{ .Params.authorAvatar | absURL }}');"></div>{{ .Params.author }}</div>{{ end }}   
              <div class="date"><span> {{ .PublishDate.Format $dateFormat }}</span></div>
              {{ if .Params.categories }}<div class="category"> {{ with (.GetTerms "categories") }}{{ range $i, $t := . }}{{ if $i }},&nbsp;{{ end }}<a href="{{ $t.Permalink }}">{{ $t.LinkTitle }}</a>{{ end }}{{ end }}</div>{{ end }}
            </div>
            <div class="text">
                {{ .Summary }} &#8230;
            </div>
            <div class="button">
                <a href="{{ .Permalink }}">{{ i18n "readMore" }}</a>
            </div>
            
          </article>
          {{ end }}


        {{ partial "pagination" . }}

      </div>
      <div class="col-md-3 bernd-padding-left">

        {{ partial "sidebar" . }}

    </div>      
  </div>
</div>

{{ end }}
